.body{
    display: grid;
    grid-template-areas:      /* organização das colunas*/
        "header header"
        "aside main"
        "footer footer";
    grid-template-rows: 180px auto 180px;
    grid-template-columns: 1fr 4fr;
}
.header{
    grid-area: header;
    background-color: #0D3B66;
}

.main{
    grid-area: main;
    background-color: #FAF0CA;
}

.aside{
    grid-area: aside;
    background-color: #FAF0CA;
}

.footer{
    text-align: center;
    padding: 15px;
    grid-area: footer;
    background-color:#124d84f4;
}

@media only screen and (max-width: 850px) {
    .body{
        grid-template-areas: 
            "header"
            "aside"
            "main"
            "footer";
        grid-template-rows: auto; 
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 450px) {
    .body{
        grid-template-areas: 
            "header"
            "main"
            "footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        font-size: small;
    }

    aside{
        display: none;
    }
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border: rgb(255, 255, 255) 2px solid;
    background-color: #eae1b9c6;  
    width: 100%;
    max-width: 300px;
    height: auto; 
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.imagem_produto{
    width: 100%;
    max-width: 200px;
    height: auto;
}

.d_produto{
    font-size: 18px;
    margin: 10px 0;
}

.p_produto{
    font-size: 20px;
    font-weight: bold;
}

button{
    background-color: #0D3B66;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.secao{                               /* caixas subtitulos*/
    background-color: #0f4271db;
    padding: 1px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}

.secao h2{
    color: #FAF0CA;   /* cor do subtitulos*/
}

/* Remove margens e padding padrão do navegador */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.btn-cadastro {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #0D3B66;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: #0D3B66;
}

/* Fundo escuro */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}

/* Caixa branca */
.popup-conteudo {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* X de fechar */
.fechar {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.btn-cadastro {
    position: absolute;
    top: 15px;
    left: 15px;

    width: 50px;
    height: 50px;

    border-radius: 50%; /* deixa redondo */
    object-fit: cover;  /* encaixa a imagem certinho */

    cursor: pointer;
    border: 2px solid white;
}
.btn-cadastro:hover {
    transform: scale(1.1);
    transition: 0.3s;
}